@font-face {
    font-family: 'calculator';
    src: url('./resources/Calculator.ttf');
}

@font-face {
    font-family: 'vipna';
    src: url('./resources/vipnagorgialla-rg.otf');
}
/**/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/**/
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: silver; */
    background-color: darkgrey;
}
/**/
.calculator {
    height: 350px;
    aspect-ratio: 1 / 1;
    margin: auto;
    padding: 8px;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: #444444;
}
/**/
.title {
    height: 42px;
    margin-bottom: 8px;
    display: flex;
}

.title > h1 {
    font-family: 'vipna';
    font-size: x-large;
    color: #111111;
    text-shadow: 0px 0px 0.3rem silver;
    margin: auto;
}
/**/
.display {
    height: 100px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #090909;
    background-color: #111111;
}

.input {
    width: 100%;
    background-color: transparent;
    color: ghostwhite;
    outline: none;
    margin: 16px 0;
    border: none;
    font-family: 'calculator';
    font-size: xx-large;
    text-align: end;
}

.error {
    font-family: 'calculator';
    color: ghostwhite;
    text-align: end;
}
/**/
.buttons {
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons button {
    min-width: 65px;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #181818;
    box-shadow: inset 1px 1px 8px 1px #2b2b2b;
    font-family: 'vipna';
    background-color: #222222;
    color: ghostwhite;
}

.buttons button:hover {
    background-color: #2b2b2b;
}

.buttons button:active {
    background-color: #333333;
}

.digits {
    height: 100%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
/**/
.operators {
    height: 100%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.operators > .clear,
.operators > .del {
    background-color: darkred;
    box-shadow: inset 1px 1px 8px 1px rgb(150, 0, 0);
}

.operators > .clear:hover,
.operators > .del:hover {
    background-color: rgb(155, 0, 0);
}

.operators > .clear:active,
.operators > .del:active {
    background-color: rgb(175, 0, 0);
}

.operators > .equals {
    font-weight: bold;
    background-color: darkblue;
    box-shadow: inset 1px 1px 8px 1px rgb(0, 0, 150);
}

.operators > .equals:hover {
    background-color: rgb(0, 0, 155);
}

.operators > .equals:active {
    background-color: rgb(0, 0, 175);
}

.operators > .toDisplay {
    font-weight: bold;
    color: #111111;
    background-color: rgb(215, 120, 0);
    box-shadow: inset 1px 1px 8px 1px rgb(230, 120, 0);
}

.operators > .toDisplay:hover {
    background-color: rgb(235, 130, 0);
}

.operators > .toDisplay:active {
    background-color: darkorange;
}
/**/
footer {
    height: 50px;
    background-color: rgba(169, 169, 169, 0.75);
    display: flex;
    font-family: 'calculator';
}

footer > p {
    margin: auto;
    font-size: large;
    display: flex;
    color: #111111;
}

footer img {
    height: 20px;
    width: auto;
    margin: 0 4px;
}